{% extends "OCPlatformBundle::layout.html.twig" %}
{% block title %}
    Modifier une annonce - {{ parent() }}
{% endblock %}

{%  block ocplatform_boby %}
    <h2>Modifier une annonce</h2>
    {{ include("OCPlatformBundle:Advert:form.html.twig") }}
    <p>
        Vous ajoutez une nouvelle annonce
    </p>
    <p>
        <a href="{{ path('oc_platform_view', {'id': advert.id}) }}" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Retour à l'annonce
        </a>
    </p>
{% endblock%}